.product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 3rem 0 0;
  }
  
  .product-image {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 50%;
    text-align: center; 
    transition: all 500ms ease-in-out;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-info {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .product-description {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: #666;
  }
  
  .product-detail-price {
    font-size: 1.5rem;
    color: rgb(245, 181, 53);
    margin-bottom: 1rem;
    font-weight:500;
  }
  
  .btnAddToCart {
    padding: 0.5rem 1rem;
    background-color: black;
    /* background-color: rgb(245, 181, 53); */
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 4.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
  
  }
  
  .btnAddToCart:hover {
    background-color: #ffa500;
  }